### Convertin the test.csv file data types to a machine readable type

In [83]:
# Import libs & load dataset
import pandas as pd
import re
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder


df = pd.read_csv('./Data Set/test.csv')

def extract_float(value):
    if isinstance(value, (float, int)):  # Check if value is already a number
        return value
    else:
        match = re.search(r"\d+(?:\.\d+)?", value)
    if match:
        return float(match.group())
    else:
        return 0
    
def extract_target_number(value):
    if isinstance(value, str):
        match = re.search(r"\d+", value)
        if match:
            return int(match.group())
        else:
            return None
    elif isinstance(value, (float, int)):
        return None  # Handle floats and integers as non-numeric for engine column
    else:
        return None  # Handle other non-string, non-numeric values

## Convert String Into Int
def convert_to_int(string):
    try:
        # Remove the " km" part and replace commas with empty strings
        number_string = string.replace(" km", "").replace(",", "")

        # Convert the resulting string to an integer
        return int(number_string)

    except ValueError:
        # If the conversion fails (e.g., due to invalid characters), return None
        return None


## Extract the numeric values in each column and split the text
df['fuel'] = df['fuel'].apply(extract_float)
df['acceleration'] = df['acceleration'].apply(extract_float)
df['volume'] = df['volume'].apply(extract_float)
df['engine'] = df['engine'].apply(extract_target_number)
df['mileage'] = df['mileage'].apply(convert_to_int)

## fill rows where the value in 'fuel' is null
df['fuel'] = df['fuel'].fillna(value=7.2)
df['volume'] = df['volume'].fillna(value=1.6)
df['engine'] = df['engine'].fillna(value=4.0)
df['acceleration'] = df['acceleration'].fillna(value=11.6)
df['description'] = df['description'].fillna(value='ماشین عالی و بدون رنگه بخری پشیمون نمیشی')

## Convert The Columns which contain numeric values into numeric values
le = LabelEncoder()
df['title'] = le.fit_transform(df['title'])
df['transmission'] = le.fit_transform(df['transmission'])
df['body_color'] = le.fit_transform(df['body_color'])
df['body_status'] = le.fit_transform(df['body_status'])
df['body_type'] = le.fit_transform(df['body_type'])
df['inside_color'] = le.fit_transform(df['inside_color'])
df['description'] = le.fit_transform(df['description'])

df.isnull().sum()

title              0
year               0
mileage            0
transmission       0
fuel               0
body_color         0
inside_color       0
body_status        0
description        0
body_type          0
volume             0
engine             0
acceleration       0
price           3629
dtype: int64

In [84]:
# # Creating a new sata set using the existing data set
# cleaned_df = pd.DataFrame(df)
# cleaned_df.to_csv("finaltest.csv", index=False)
df.head(2)
# df['acceleration'].median()
## Only Run one time to prevent making the new Dataframe again !!!!

,title,year,mileage,transmission,fuel,body_color,inside_color,body_status,description,body_type,volume,engine,acceleration,price
0,176,1389,200000,0,7.1,17,18,1,1881,2,1.6,4.0,13.4,NaN
1,15,1397,93500,0,6.1,21,16,1,447,1,1.5,4.0,12.7,NaN